@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
:root{
    --primarycolor: #F4780F;
    --secondarycolor: #707070;
    --normalcolor: #7C75A7;
    --whitecolor: #FFFFFF;
    --blackcolor: #000000;
    --textcolor: #50A7A1;
    --paracolor: #858585;
    --sectionbg: #F1F1F1;
    --redColor:#C0272D;
    --extracolor:#C2C2C2;
    --borderco: #A5A5A5;
    --testimonialborder: #9629CC;
    --newbordercolor:#BEBEBE;  
    --hovercolor:#CBCBCB;
    --color:red;
}
*{
    margin:0;
    padding:0;
}
h1,h2,h3,h4,h5,h6,p,ul{
    padding:0;
    margin:0;
    list-style: none;
}
.container {
    max-width: 1400px;
}

/*Header Start*/
/*Header Start*/
.topBlackBar{
    background: #000;
}
.texttopOrder h2 {
    text-align: center;
    color: var(--whitecolor);
    font-size: 18px;
    padding: 5px 0;
    font-weight: 600;
}
.difftext{
    color:var(--primarycolor);
    font-weight: bold;
}
.ordertext{
    font-weight: 400;
}
.mainthreemenus {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    flex-direction: row;
}
.main-menus {
    padding: 25px 0;
}
.topmenus {
    width: 50%;
}
.topmenus li {
    float: left;
}
.topmenus li a {
    padding-left: 18px;
    padding-right: 18px;
    color: var(--secondarycolor);
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}
.topmenus li a:hover {
    color: var(--primarycolor);
}
.mycallbtn {
    color: var(--primarycolor);
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    padding-right: 24px;
    font-weight: 600;
}
.mycallbtn i {
    padding-right: 8px;
    font-size: 20px;
}
.mybtnlivechat {
    text-decoration: none;
    background: var(--primarycolor);
    color: var(--whitecolor) !important;
    font-weight: 500 !important;
    padding: 10px 18px;
    display: inline-block;
    box-shadow: 0px 5px 6px #ccc;
}
.menutwo {
    background-color: #7C75A7;
    padding: 23px 0px;
}
.widemenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}
.widemenu li {
    float: left;
    text-transform: uppercase;
}
.widemenu li a {
    color: var(--blackcolor);
    text-decoration: none;
    padding: 0 33px;
    font-weight: 700;
}
.widemenu li a:hover{
    color:var(--whitecolor);
}
/*Header End*/
/*Header End*/

/*Content Start*/
/*Content Start*/
.banner {
    background: url(../../assets/images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 640px;
}
.bannerdetails {
    width: 45%;
    padding-top: 70px;
    float: left;
}
.imgbook {
    width: 55%;
    float: right;
}
.imgbook img{
    width: 100%;
}
.bannerheading h1 {
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: 5px;
}
.bannerheading p {
    font-size: 16px;
    padding-bottom: 15px;
}
.bannerform {
    background: #D4D4D4;
    padding: 18px 20px;
    margin-bottom: 20px;
}
.topbarform input {
    width: 100%;
    padding: 12px 18px;
    font-size: 14px;
    border: var(--whitecolor);
}
.form-group {
    margin-bottom: 12px;
}
.form-group:last-child {
    margin-bottom: 0;
}
.form-group button {
    width: 100%;
    border: none;
    padding: 11px 0;
    background-color: #F4780F;
    font-weight: 700;
    color: var(--whitecolor);
    font-size: 15px;
}
.bannerclients img {
    width: 100%;
}
.btn-promotion {
    background: #50A7A1;
    padding: 10px 50px;
    color: var(--whitecolor);
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
.btncall {
    background: #C0272D;
    color: var(--whitecolor);
    padding: 8px 14px;
    display: inline-block;
}
.promotionicons {
    position: fixed;
    right: -201px;
    top: 70%;
    z-index: 9999;
}
.promotionicons a {
    color: var(--whitecolor);
}
.promotionicons a:hover {
    color: var(--whitecolor);
}
.btncomments{
    background: var(--primarycolor);
    color: var(--whitecolor);
    padding: 8px 12px;
    display: inline-block;
}
.rotatenow {
    transform: rotate(-90deg);
    transform-origin: 0 0;
    margin-bottom: -30px;
}
.services{
    padding-top: 100px;
    padding-bottom: 100px;
}
.serviceheading {
    text-align: center;
    padding-bottom: 55px;
}
.serviceheading h1 {
    font-size: 46px;
    padding-bottom: 12px;
    color: var(--textcolor);
    text-transform: uppercase;
    font-weight: 400;
}
.serviceheading p {
    width: 70%;
    margin: 0 auto;
    color: var(--paracolor);
    font-size: 14px;
}
.serviceimgbook img{
    width: 100%;
}
.firstservice.clearfix {
    padding-bottom: 80px;
}
.firstservice:last-child{
    padding-bottom: 60px;
}
.serviceprompt {
    border: 1px solid var(--textcolor);
    padding: 25px 50px;
}
.serviceprompt h1 {
    font-size: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.serviceprompt p {
    font-size: 12px;
    padding-bottom: 30px;
}
.serviceprompt p {
    font-size: 12px;
    padding-bottom: 22px;
}
.serviceprompt a {
    text-decoration: none;
    padding: 8px 45px;
    display: inline-block;
    font-size: 12px;
    color: var(--whitecolor);
}
.themecolorbtn{
    background-color: var(--textcolor);
}
.blackcolorbtn{
    background-color: var(--blackcolor);
}
.counticonservice {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-bottom: 13px;
    align-content: center;
}
.bookiconbg {
    background: var(--textcolor);
    padding: 18px 18px;
    border-radius: 100px;
}
.serviceimgbook {
    width: 872px;
    float: left;
}
.serviceprompt {
    border: 1px solid var(--textcolor);
    padding: 25px 50px;
    width: 50%;
    float: right;
    margin-top: -335px;
    background: var(--whitecolor);
}
.rightthere {
    float: right;
}
.leftthere {
    float: left;
}
.btn-showall {
    text-align: center;
    background-color: var(--textcolor);
    width: 30%;
    margin: 0 auto;
}
.btn-showall a {
    padding: 6px 10px;
    display: inline-block;
    color: var(--whitecolor);
    text-decoration: none;
}
.bookwriter{
    background-color: var(--sectionbg);
}
.leftsidebook h1 {
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
}
.thmecolor{
    color: var(--primarycolor);
}
.leftsidebook {
    float: left;
    width: 50%;
}
.leftsidebook p{
    color: var(--paracolor);
    font-size: 14px;
}
.paddbot {
    padding-bottom: 30px;
}
.leftsidebook a {
    padding: 7px 50px;
    display: inline-block;
    color: var(--whitecolor);
    text-decoration: none;
    font-size: 14px;
}
.themeBtn{
    background-color: var(--primarycolor);
    border:1px solid var(--primarycolor);

}
.simpleBtn{
    background-color: transparent;
    border:1px solid var(--paracolor);
    color: var(--paracolor) !important;
}
.mainbooxk.clearfix {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    height: 570px;
}
.rightsideimg {
    width: 894px;
    float: left;
}
.rightsideimg img{
    width: 100%;
}
.secondbookwriter {
    background-color: var(--whitecolor);
    padding: 120px 0 100px 0;
}
.secondmainbooxk.clearfix {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    height: 570px;
}
.secondleftsidebook a {
    padding: 7px 50px;
    display: inline-block;
    color: var(--whitecolor);
    text-decoration: none;
    font-size: 14px;
}
.secondleftsidebook p{
    color: var(--paracolor);
    font-size: 14px;
}
.secondrightsideimg {
    width: 100%;
}
.secondrightsideimg img {
    width: 610px;
}
.secondleftsidebook {
    padding-left: 37px;
}
.secondleftsidebook h1 {
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    width: 85%;
}
.secondleftsidebook p{
    color: var(--paracolor);
    font-size: 14px;
}
.sellyour {
    background-color: var(--sectionbg);
    padding-top: 80px;
    padding-bottom: 80px;
}
.clickbtn a{
    padding: 7px 50px;
    display: inline-block;
    text-decoration: none;
}
.redcolotext{
    color: var(--redColor);
}
.redthemeBtn{
    background-color: var(--redColor);
    color:var(--whitecolor);
    border: 1px solid var(--redColor);
}
.redthemeBtn:hover{
    color:var(--whitecolor);
}
.sellheading {
    text-align: center;
}
.sellheading h1 {
    font-size: 46px;
    padding-bottom: 12px;
    color: var(--blackcolor);
    text-transform: uppercase;
    font-weight: 400;
}
.sellheading p {
    width: 70%;
    margin: 0 auto;
    color: var(--paracolor);
    font-size: 14px;
}
.booklogos {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    padding: 25px 0 30px 0;
    justify-content: space-around;
}
.booklogos img {
    padding: 0 28px;
    width: 220px;
}
.starter-template {
    padding: 0 15px;
  }
  
  .card {
    width: 100% !important; 
  }
  .mycoloractive{
    color:var(--primarycolor) !important;
  }
.nav-link {
    border: 1px solid var(--secondarycolor) !important;
    border-radius: 0 !important;
    padding: 10px 60px;
    color: var(--paracolor);
    font-weight: 600;
    border-right: none !important;
    text-transform: uppercase;
    font-size: 14px;
}
.myborderss{
    border-right: 1px solid var(--secondarycolor) !important;
}
ul#myTab {
    border-bottom: none;
    display: flex;
    justify-content: center;
}
.tabcategory {
    padding: 80px 0;
}
.tabsheading {
    text-align: center;
    padding-bottom: 20px;
}
.tabsheading h1 {
    font-size: 48px;
    padding-bottom: 0;
    color: var(--blackcolor);
    text-transform: uppercase;
    font-weight: 400;
}
.card-img-top{
    border-radius: 0 !important;
    border:none !important;
}
.tab-content {
    margin-top: 30px;
}
.card {
    text-align: center;
    border: 1px solid var(--secondarycolor);
    border-radius: 0;
    margin-top: 16px;
}
img.card-img-top {
    width: 225px;
    margin: 0 auto;
    border: 1px solid var(--secondarycolor);
    padding: 35px 20px;
}
.mainpublish{
    padding-bottom: 40px;
}
.mycolorbg{
    border: 1px solid var(--secondarycolor);
    background-color: transparent;
}
.mycolorbg a{
    color: var(--primarycolor) !important;
    font-weight: 600;
}
.features {
    background: black;
    padding: 60px 0;
}
.featureheading {
    text-align: center;
}
.featureheading h1 {
    font-size: 46px;
    padding-bottom: 20px;
    color: var(--whitecolor);
    text-transform: uppercase;
    font-weight: 400;
}
.featureheading p {
    width: 70%;
    margin: 0 auto;
    color: var(--extracolor);
    font-size: 14px;
    padding-bottom: 23px;
}
.mydiffcolor{
    border: 1px solid var(--primarycolor);
    background-color: transparent;
    color:var(--whitecolor);
}
.mydiffcolor{
    width: 20%;
}
.desiredbook {
    padding: 60px 0;
}
.leftheadings {
    width: 60%;
}
.leftheadings h1 {
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 18px;
}
.purplecolor{
    color: var(--normalcolor);
}
.leftheadings p {
    color: var(--secondarycolor);
    font-size: 14px;
    padding-bottom: 25px;
}
.leftheadings a {
    padding: 7px 50px;
    display: inline-block;
    color: var(--whitecolor);
    text-decoration: none;
    font-size: 14px;
}
.btnThemeOne{
    background-color: var(--normalcolor);
    border:1px solid var(--normalcolor);

}
.btnThemeTwo{
    background-color: transparent;
    border:1px solid var(--borderco);
    color: var(--blackcolor) !important;
    font-weight: 500;
}

.desiredhead {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
}
.rightimgbook{  
    width: 40%;
}
.rightimgbook img {
    width: 100%;
}
.qualityghost {
    background-color: var(--sectionbg);
    padding: 100px 0;
}
.mainquality {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding-bottom: 16px;
    height: 80px;
}
.totalqualities {
    padding-bottom: 25px;
}
.qualityheading {
    text-align: center;
    padding-bottom: 30px;
}
.qualityheading h1 {
    font-size: 40px;
    padding-bottom: 16px;
    color: var(--blackcolor);
    text-transform: uppercase;
    font-weight: 400;
}
.qualityheading p {
    margin: 0 auto;
    color: var(--paracolor);
    font-size: 14px;
    padding-bottom: 16px;
}
.mainquality p {
    font-size: 14px;
    color: var(--blackcolor);
    padding-left: 20px;
}
.qualitybtn{
    text-align: center;
}
.qualitybtn a {
    padding: 7px 50px;
    display: inline-block;
    color: var(--whitecolor);
    text-decoration: none;
    font-size: 14px;
}
.qualitybtn .simpleBtn{
    color: var(--blackcolor) !important;
    font-weight: 500;
}
.btndemand{
    text-align: center;
}
.btndemand a {
    text-decoration: none;
    padding: 10px 75px;
    display: inline-block;
    font-size: 14px;
    color: var(--whitecolor);
}
.demandexpert {
    padding: 100px 0;
}
.counterbox {
    padding: 25px 8px;
    text-align: center;
}
.mywidths{
    padding-bottom: 0;
}
.mywidths h1 {
    width: 60%;
    margin: 0 auto;
}
.counterss {
    padding-bottom: 45px;
}
.counter {
    font-size: 55px;
    color: var(--textcolor);
    font-weight: 400;
}
.headyellow h1 {
    font-size: 45px;
    width: 50%;
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: 20px;
}
.headyellow p {
    font-size: 16px;
    padding-bottom: 20px;
}
.boxtestimonial {
    text-align: center;
    padding: 35px;
    border: 1px solid var(--testimonialborder);
}
.boxtestimonial h1 {
    font-size: 45px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--redColor);
    padding-bottom: 15px;
}
.boxtestimonial p {
    font-size: 14px;
    line-height: 25px;
    padding-bottom: 40px;
}
.boxtestimonial img {
    width: 100px;
    margin: 0 auto;
    padding-bottom: 15px;
}
.boxtestimonial h3 {
    font-size: 24px;
    padding-bottom: 8px;
}
.slick-dots .slick-active {
    border: 1px solid var(--redColor);
    background: none;
    opacity: 1;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    background: var(--redColor);
    border-radius: 100px;
    border: 1px solid var(--redColor);
}
.packagesuit {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}
.packageswork {
    background-color: var(--sectionbg);
    padding: 100px 0;
}
.packagenameone {
    background-color: var(--redColor);
    color: var(--whitecolor);
    padding: 15px;
    text-align: center;
}
.packdetails {
    background-color: var(--whitecolor);
    text-align: center;
}
.packdetails li {
    margin: 0 40px;
    border-bottom: 1px solid var(--secondarycolor);
    padding: 12px 0;
    font-size: 14px;
}
.packdetails li img {
    width: 20px;
}
.mainbb {
    width: 1400px;
}
.myparacolor p{
    color: var(--blackcolor);
}
.packagenameone h3 {
    font-size: 26px;
    font-weight: 400;
}
.textdetails {
    padding-top: 54%;
}
.textdetails p {
    padding-bottom: 19px;
}
.packagenameone h4 {
    font-size: 14px;
    font-weight: 400;
}
.packagenameone p {
    font-weight: 700;
}
.packdetails li p {
    font-weight: 600;
}
.purplebox{
    background-color: var(--normalcolor);
}
.lightgbox{
    background-color: var(--textcolor);
}
.orangebox{
    background-color: var(--primarycolor);
}
.scrollitem .col-item
{
  border:#a8a8a8 2px solid;
  text-align:center;
}
.item , .scrollBox
{
  margin-top:10px;
}
/* Basic styling for the slider container */
.slider-container {
    position: relative;
    overflow: hidden;
    max-width: 100%;
}

/* Styling for the slider content */
.slider-content {
    display: flex;
    transition: transform 0.3s ease-in-out;
    padding: 0 12px;
}

/* Styling for individual slides */
.slide {
    flex: 0 0 calc(50% - 15px); /* Display 2 slides at a time with a 15px margin in between */
    max-width: 100%;
    margin-right: 15px; /* Adjust as needed */
}

/* Styling for the pager dots */
.slider-pager {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}
.pager-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--redColor);
    cursor: pointer;
    margin: 0 5px; /* Adjust as needed */
}

.pager-dot.active {
    background-color:transparent;
    border: 1px solid var(--redColor);
}

/* Styling for the buttons and arrows */
.slider-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 15px; */
    position: relative;
    top: -25px;
}
.slider-nav button {
    border: 1px solid var(--newbordercolor);
    width: 35px;
    margin: 0 10px; /* Adjust as needed */
    font-size: 22px;
    background: transparent;
    border-radius: 100px;
    cursor: pointer;
    height: 35px;
    font-size: 18px;
    color: var(--newbordercolor);
}
.mainauthor {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}
.myredli {
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
}
.myredli a {
    background: var(--hovercolor);
    width: 100%;
    display: inline-block;
    color: var(--whitecolor);
    padding: 12px 0;
    text-decoration: none;
}
.myredli a:hover{
    background: var(--redColor);
}

.mypurpleli {
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
}
.mypurpleli a {
    background: var(--hovercolor);
    width: 100%;
    display: inline-block;
    color: var(--whitecolor);
    padding: 12px 0;
    text-decoration: none;
}
.mypurpleli a:hover{
    background: var(--normalcolor);
}
.myligbox {
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
}
.myligbox a {
    background: var(--hovercolor);
    width: 100%;
    display: inline-block;
    color: var(--whitecolor);
    padding: 12px 0;
    text-decoration: none;
}
.myligbox a:hover{
    background: var(--textcolor);
}
.myorangeli {
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
}
.myorangeli a {
    background: var(--hovercolor);
    width: 100%;
    display: inline-block;
    color: var(--whitecolor);
    padding: 12px 0;
    text-decoration: none;
}
.myorangeli a:hover{
    background: var(--primarycolor);
}
.accordinitem {
    padding-bottom: 35px;
}
.accordion {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
}
.accordion-item {
    background-color: #fff;
    color: var(--blackcolor);
    margin: 1rem 0;
    border-radius: 0;
    /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25); */
    border: 1px solid #484848 !important;
}
.accordion-item-header {
    padding: 0 15px;
    min-height: 45px;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}
.accordion-item-header::after {
    content: "\002B";
    font-size: 22px;
    position: absolute;
    right: 1rem;
}
.accordion-item-header.active::after {
    content: "\2212";
}
.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    font-size: 14px;
}

.accordionss {
    padding: 80px 0 110px 0;
}
.mytwobooks{
    background-color: var(--normalcolor);
}

.mytwobooksleft {
    width: 48%;
}
.rightimgbook {
    width: 45%;
    margin-top: -53px;
}
.mytwobooksleft h1 {
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 18px;
    color:var(--whitecolor);
}
.mytwobooksleft p {
    color: var(--whitecolor);
    font-size: 16px;
    padding-bottom: 25px;
    color:var(--whitecolor);
}

.mytwobooksleft a {
    padding: 8px 80px;
    display: inline-block;
    color: var(--whitecolor);
    text-decoration: none;
    font-size: 14px;
    margin-right: 10px;
    text-transform: uppercase;
}
.btnChangeThemeOne{
    background-color: var(--blackcolor);
    border:1px solid var(--blackcolor);

}
.btnChangeThemeTwo{
    background-color: var(--whitecolor);
    border:1px solid var(--whitecolor);
    color: var(--blackcolor) !important;
    font-weight: 500;
}
.rightimgbook img {
    width: 750px;
}